.collapsed-block{
  padding: 0;
  color: white;
  margin: 0;
  font-size: 40px;
  background-color: transparent;
  border-color: transparent;
}

.collapsed-block.fullscreen{
  font-size: 80vh;
}
.obj-key{
  color: #9CB9A7;
  vertical-align: top;
}

.obj-val{
  display: inline;
  color: #C3916A;
  vertical-align: top;

}

.key-val{
  margin-left: 40px;
  max-width: 100%;
}

.fade-wrapper{
  display:inline;
}
.block-body{
  color: white;
  display: inline;
  max-width: 95%;
  text-align: left;
  align-content: left;
  font-size: 25pt;
}
.block-body.bracket{
  border: none;
  outline: none;
  background-color: transparent;
}
.block-body.bracket.array{
  display:inline;
}