.collapsed-block{
  padding: 0;
  margin: 0;
  font-size: 80vh;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.obj-key{
  color: #9CB9A7;
}

.obj-val{
  color: #C3916A;
}

.key-val{
  width: 100%;
}

.block-body{
  color: white;
  display: flex;
  align-content: left;
  font-size: 30pt;
}